source_up
export KUBECONFIG=$PWD/.kube/config

unset PROXMOX_TOKEN
unset PROXMOX_SECRET

export CLUSTER_NAME="tooling"
export CONTROL_PLANE_ENDPOINT_IP="10.77.100.3"

source_env_if_exists .envrc.private

env_vars_required PROXMOX_TOKEN PROXMOX_SECRET